<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727" sku="Client"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49984/Service.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap" contract="MAvhaService.ServiceSoap"
                name="ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
